* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --primary-color: hsl(257, 40%, 49%);
    --second-color: hsl(300, 69%, 71%);
}
.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
}

.attribution a {
    color: hsl(300, 69%, 71%);
    text-decoration: none;
}
html {
    background: var(--primary-color);
}
body {
    min-height: 100vh;
    background: url(./images/bg-desktop.svg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 80px;
    margin: auto;
}
.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.page .page__logo {
    display: flex;
    width: 16%;
}
.page .page__logo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page__body {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.body__left {
    width: 100%;
    flex: 0 0 50%;
}
.body__left img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
.body__right {
    margin-left: 55px;
}
.page__body .body__right .title {
    font-weight: 700;
    color: #fff;
    font-size: 38px;
}
.page__body .body__right p {
    margin-top: 35px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}
.btn {
    margin-top: 25px;
    width: 200px;
    background: #fff;
    text-align: center;
    padding: 20px 0;
    border-radius: 50px;
    box-shadow: 10px 5px 20px #4b3c87;
    cursor: pointer;
}
.page__body .body__right a {
    display: block;
    text-decoration: none;
    color: var(--primary-color);
}
.page__social {
    display: flex;
    margin-left: auto;
}
.page__social a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: var(--primary-color);
    border: 1px solid #fff;
    text-decoration: none;
}
.page__social a .fab {
    display: block;
    font-size: 18px;
}
.page__social a:not(:last-child) {
    margin-right: 20px;
}
footer {
    padding: 20px 0;
}
@media screen and (max-width: 1221px) {
    body {
    background: url(./images/bg-mobile.svg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
    .container {
        padding: 75px 80px;
    }
    .page {
        max-width: 750px;
    }
    .page .page__logo {
        width: 31.5%;
    }
    .page__body { 
        flex-direction: column;
        text-align: center;
    }
    .body__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-top: 135px;
    }
    .body__right .title {
        padding: 0 40px;
        
    }
    .page .body__right p {
        font-size: 25px;
        line-height: 1.6;
    }
    .page__social {
        display: flex;
        margin: 120px auto 0;
    }
    .btn {
        width: 400px;
    }

}
@media screen and (max-width: 568px) {
    .btn {
        width: 100%;
    }
    .container {
        padding: 20px 15px;
    }
    .body__right .title {
        padding: 0;
    }
}